<h1>Listing interviews</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th>Learning</th>
  </tr>
 
  <% @interview.each do |interview| %>
    <tr>
      <td><%= interview.name %></td>
      <td><%= interview.notes %></td>
      <td><%= interview.learning %></td>      
      <td><%= interview.created_at.strftime("%m/%d/%Y %H:%M:%S") %></td>
    </tr>
  <% end %>
</table>