<p>
  <strong>Name:</strong>
  <%= @interview.name %>
</p>
 
<p>
  <strong>Notes:</strong>
  <%= @interview.notes %>
</p>

<p>
  <strong>Learning:</strong>
  <%= @interview.learning %>
</p>

<p>
  <strong>Created:</strong>
  <%= @interview.created_at.strftime("%m/%d/%Y %H:%M:%S") %>
</p>