<div class="container">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="interview-set">
          <%= link_to 'New Project', new_project_path %>
        </div>
      </div>
      <% @projects.each do |project| %>
      <div class="col-md-4">
        <div class="interview-set">      
          <p><%= link_to project.pname, project_path(project) %></p>
          <p><%= link_to project.objective, project_path(project) %></p>
        </div>
      </div>
      <% end %>
    </div>

  </div>

</div>
