  <header>
    <div class="container">
      <div class="row">

        <!-- Logo section -->
        <div class="col-md-4">
          <!-- Logo. -->
          <div class="logo">
            <h3>Javelin GO</h3>
          </div>
          <!-- Logo ends -->
        </div>

      </div>
    </div>
  </header>
